body {
  margin: 0;
}
h1 {
  padding-left: 50px;
  font-size:45px;
}
h4{
  padding-left: 50px;
  text-align: left;
  line-height: 28px;
  font-family: geomanist;
  font-size: 18px;
}
.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: hwb(290 4% 25%);
  padding-top: 2px;
  padding-bottom: 1px;
  top: 0;
  width: 100%;
  position: fixed;
}
.bgnav{
  background-color: white;
  transition: all 1s;
  color:black;
  border-bottom: 2px solid lightgray;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited{
  color:black;
}
a:hover {
  color: rgba(255, 0, 21, 0.836);
}
.head{
  padding-top: 70px;
  padding-bottom: 58px;
  background-color: hwb(290 4% 25%);
  color: white;

}
.button{
 position:static;
 margin-left: 50px;
 border-top-right-radius: 30px;
 border-top-left-radius: 30px;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
 border: 2px solid white;
 width: 25%;
 height: 50px;
 background-color:transparent;
 color: white;
 font-size: 15px;
 font-weight:750;
 
}
.button:hover{
  color:rgb(24, 0, 132);
}

.about{
  padding-left: 50px;
}
h2{
  font-size: 35px;
  font-family:Arial, Helvetica, sans-serif;
}
p{
  text-align: left;
  line-height: 28px;
  font-family: geomanist;
  font-size: 18px;
  font-weight: 500;
  padding-right: 25px;
}
.Alayout{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}
.im1{
  text-align: center;
}
.im2
{
  text-align: center;
}
.im3{
  text-align: center;
}